[*]
end_of_line = lf
trim_trailing_whitespace=true

# -----------------------------------------------------------------------------
# Org and Neorg: Organizational Tools
# -----------------------------------
[*.{org,norg}]
indent_style = space
indent_size = 2
max_line_length = 80

# -----------------------------------------------------------------------------
# Markdown
# --------
[*.{md}]
indent_style = space
indent_size = 2
max_line_length = 80

# -----------------------------------------------------------------------------
# Lua
# ---
[*.lua]
indent_style = space
indent_size = 2
max_line_length = 80

# -----------------------------------------------------------------------------
# JSON
# ----
[*.json]
indent_style = space
indent_size = 2

# ------------------------------------------------------------------------------
# YAML
# ----
[*.{yml,yaml}]
indent_style = space
indent_size = 2
max_line_length = 80

# ------------------------------------------------------------------------------
# TOML
# ----
[*.toml]
indent_style = space
indent_size = 2
max_line_length = 80
